<div class="sa-main-content mb-4">
    <div class="contact-section">
       <div class="container">
          <div class="address-content">
             <div class="row">
                <div class="col-md-4">
                   <div class="address shadow">
                      <div class="icon">
                         <i class="fas fa-map-signs"></i>
                      </div>
                      <div class="text">
                         <h3>Address</h3>
                         <p>Address line1, 123456</p>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="address shadow">
                      <div class="icon">
                         <i class="fas fa-phone-alt"></i>
                      </div>
                      <div class="text">
                         <h3>Mobile number</h3>
                         <a href="#">+012 345 678 910</a>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="address shadow">
                      <div class="icon">
                         <i class="far fa-envelope"></i>
                      </div>
                      <div class="text">
                         <h3>Email address</h3>
                         <a href="#">
                            abc2022@gmail.com
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <form id="contactform" class="contact-form card-body shadow" action="#!" method="post" enctype="text/plain">
             <div class="row">
                <div class="col-lg-6">
                   <div class="form-group">
                      <input type="text" class="form-control" name="name" required="" placeholder="Your Name">
                   </div>
                </div>
                <div class="col-lg-6">
                   <div class="form-group">
                      <input type="email" class="form-control " name="email" required="" placeholder="Your Email">
                   </div>
                </div>
             </div>
             <div class="form-group">
                <input type="text" class="form-control" name="subject" required="" placeholder="Subject">
             </div>
             <div class="form-group">
                <textarea class="form-control" name="message" required="" placeholder="Your Message"></textarea>
             </div>
             <div class="form-group">
                <div class="flashinfo"></div>
                <button class="btn btn-primary btn-l" name="submit" type="submit">Submit</button>
             </div>
          </form>
       </div>
    </div>
 </div>