<section>
    <div class="container">
       <div class="row">
           <div class="col-md-7">
             <div class="text">
                <h2>ABOUT US !</h2>
                <p class="just__css">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat aliquam maiores consectetur. Est nesciunt nihil assumenda, aliquam, cumque accusantium velit commodi officiis tenetur odio voluptatibus quis officia debitis similique?</p>
                <p class="just__css">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat aliquam maiores consectetur. Est nesciunt nihil assumenda, aliquam, cumque accusantium velit commodi officiis tenetur odio voluptatibus quis</p>
                <p class="just__css">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat aliquam maiores consectetur. Est nesciunt nihil assumenda, aliquam</p>
                <p class="just__css">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat aliquam maiores consectetur. Est nesciunt nihil assumenda, aliquam</p>
             </div>
          </div>
          <div class="col-md-5">
             <div class="thumb shadow ">
                <img class="img-fluid rrs__css" src="images/img/poster21.jpg" alt="Image">
             </div>
          </div>
         
       </div>
    </div>
 </section>