<footer id="footer">
   <div class="footer-menu">
      <div class="container">
         <ul class="nav navbar-nav">
            <li class="active"><a href="incdex.php">Home </a></li>
            <li><a href="about.html">About </a></li>
            <li><a href="#!">Business </a></li>
            <li><a href="#!">Politics </a></li>
            <li><a href="#!">World </a></li>
            <li><a href="#!">News Details </a></li>
            <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
         </ul>
      </div>
   </div>
   <div class="footer-bottom text-center">
      <div class="container">
         <div class="footer-bottom-content">
            <p>Copyright © 2022 SME World. All Rights Reserved.</p>
            <p> Powered by <a href="#!" target="_blank">Arramnton Infotech</a></p>
         </div>
      </div>
   </div>
</footer>
<router-outlet></router-outlet>