<div class="sa-main-content mb-4">
    <div class="team-section">
       <div class="container">
          <div class="section-title">
             <h1>Videos </h1>
          </div>
          <div class="row">
             <div class="col-lg-4">
                <div class="sa-post mid-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                        <img src="images/img/poster8.jpg">
                      </div>
                   </div>
                   <div class="entry-content">
                      <h2 class="entry-title"><a href="#">Mirum est notare quam gothica </a></h2>
                      <div class="entry-meta">
                         <ul class="global-list">
                            <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                            <li><i class="far fa-user"></i>By: Author</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="sa-post mid-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                         <img src="images/img/poster9.jpg">
                      </div>
                   </div>
                   <div class="entry-content">
                      <h2 class="entry-title"><a href="#">Mirum est notare quam gothica </a></h2>
                      <div class="entry-meta">
                         <ul class="global-list">
                            <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                            <li><i class="far fa-user"></i>By: Author</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="sa-post mid-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                         <img src="images/img/poster8.jpg">
                      </div>
                   </div>
                   <div class="entry-content">
                      <h2 class="entry-title"><a href="#">Mirum est notare quam gothica </a></h2>
                      <div class="entry-meta">
                         <ul class="global-list">
                            <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                            <li><i class="far fa-user"></i>By: Author</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="sa-post mid-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                         <img src="images/img/poster9.jpg">
                      </div>
                   </div>
                   <div class="entry-content">
                      <h2 class="entry-title"><a href="#">Mirum est notare quam gothica </a></h2>
                      <div class="entry-meta">
                         <ul class="global-list">
                            <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                            <li><i class="far fa-user"></i>By: Author</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="sa-post mid-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                         <img src="images/img/poster8.jpg">
                      </div>
                   </div>
                   <div class="entry-content">
                      <h2 class="entry-title"><a href="#">Mirum est notare quam gothica </a></h2>
                      <div class="entry-meta">
                         <ul class="global-list">
                            <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                            <li><i class="far fa-user"></i>By: Author</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="sa-post mid-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                         <img src="images/img/poster9.jpg">
                      </div>
                   </div>
                   <div class="entry-content">
                      <h2 class="entry-title"><a href="#">Mirum est notare quam gothica </a></h2>
                      <div class="entry-meta">
                         <ul class="global-list">
                            <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                            <li><i class="far fa-user"></i>By: Author</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="sa-post mid-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                         <img src="images/img/poster8.jpg">
                      </div>
                   </div>
                   <div class="entry-content">
                      <h2 class="entry-title"><a href="#">Mirum est notare quam gothica </a></h2>
                      <div class="entry-meta">
                         <ul class="global-list">
                            <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                            <li><i class="far fa-user"></i>By: Author</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="sa-post mid-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                         <img src="images/img/poster9.jpg">
                      </div>
                   </div>
                   <div class="entry-content">
                      <h2 class="entry-title"><a href="#">Mirum est notare quam gothica </a></h2>
                      <div class="entry-meta">
                         <ul class="global-list">
                            <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                            <li><i class="far fa-user"></i>By: Author</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="sa-post mid-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                         <img src="images/img/poster8.jpg">
                      </div>
                   </div>
                   <div class="entry-content">
                      <h2 class="entry-title"><a href="#">Mirum est notare quam gothica </a></h2>
                      <div class="entry-meta">
                         <ul class="global-list">
                            <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                            <li><i class="far fa-user"></i>By: Author</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="sg-pagination text-center mb-3">
                <ul class="pagination justify-content-center mb-0">
                   <li><a class="page-numbers current" href="#">1 </a></li>
                   <li><a class="page-numbers" href="#">2 </a></li>
                   <li><a class="page-numbers" href="#">3 </a></li>
                   <li class="float-right"><a class="page-numbers" href="#"><i class="fas fa-chevron-right"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>