<header class="sa-header">
   <div class="sa-topbar">
      <div class="container">
         <div class="d-flex justify-content-between">
            <div class="left-contennt">
               <div class="breaking-news">
                  <span>Latest News / Story</span>
                  <div id="ticker">
                     <ul>
                        <li><a href="#">Google hit with record EU fine over Shopping service</a></li>
                        <li><a href="#">Business booming for giant cargo planes</a></li>
                        <li><a href="#">Trump-Putin: Your toolkit to help understand the story</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="right-content d-flex align-self-center">
               <div class="d-flex">
                  <span>Digital Magazines </span>
                  <span>&nbsp;|&nbsp;&nbsp;</span>
                  <div class="sa-language">
                     <!-- <select>
                        <option value="" />Feb 2022
                        <option value="" />Jan 2022
                        <option value="" />Dec 2021
                        <option value="" />Nov 2021
                        <option value="" />Oct 2021
                        <option value="" />Sep 2021
                     </select> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="sa-ad">
      <div class="container">
         <div class="ad-content">
            <a class="navbar-brand d-none d-lg-block" href="index.html"><img src="images/smelogo.png" alt="Logo" class="img-fluid" /></a>
            <a href="#!"><img class="img-fluid card shadow" src="images/ads__banner.jpg" alt="Image" /></a>
         </div>
      </div>
   </div>
   <div class="sa-menu">
      <nav class="navbar navbar-expand-lg">
         <div class="container">
            <div class="menu-content">
               <a class="navbar-brand d-block d-lg-none" href="#"><img src="images/smelogo.png" alt="Logo" class="img-fluid" /></a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                     <li class="nav-item"><a href="index.html">   <i class="fa fa-home active"></i>  </a></li>
                     <li class="nav-item"><a href="about.html">About Us </a></li>
                     <li class="nav-item sa-dropdown">
                        <a href="#home">Categories <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                        <ul class="sa-dropdown-menu">
                           <li><a href="category.html">Focus</a></li>
                           <li><a href="category.html">Editorial</a></li>
                           <li><a href="category.html">Top Story</a></li>
                           <li><a href="category.html">Feature</a></li>
                           <li><a href="category.html">Interviews</a></li>
                           <li><a href="category.html">Business</a></li>
                           <li><a href="category.html">Technology</a></li>
                        </ul>
                     </li>
                     <li class="nav-item"><a href="category.html">News </a></li>
                     <li class="nav-item"><a href="video.html">Videos </a></li>
                     <li class="nav-item"><a href="contact.html">Contact Us </a></li>
                  </ul>
               </div>
               <div class="sa-search">
                  <div class="search-form">
                     <form action="#" id="search" method="get">
                        <input class="form-control" name="search" type="text" placeholder="Search here.." />
                        <button type="submit"><i class="fa fa-search"></i></button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </nav>
   </div>
</header>