<section>
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="theiaStickySidebar">
                <div class="sa-section">
                   <div class="section-content">
                      <div class="section-title">
                         <h1>Category 1 </h1>
                      </div>
                   </div>
                </div>
                <div class="sa-section">
                   <div class="section-content mt-3">
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                   </div>
                   <div class="section-content mt-3">
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="theiaStickySidebar">
                <div class="sa-section">
                   <div class="section-content">
                      <div class="section-title">
                         <h1>Category 2 </h1>
                      </div>
                   </div>
                </div>
                <div class="sa-section">
                   <div class="section-content mt-3">
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                   </div>
                   <div class="section-content mt-3">
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">LATEST TECHNOLOGY 2022 </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> May 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Technology today is evolving at a rapid pace, enabling faster change and progress, causing an acceleration.. </p>
                         </div>
                      </div>
                      <div class="sa-post small-post post-style-1 shadow">
                         <div class="entry-header">
                            <div class="entry-thumbnail">
                               <a href="#"><img class="img-fluid" src="images/img/ai-technology.jpg" alt="Image"></a>
                            </div>
                         </div>
                         <div class="entry-content">
                            <h3 class="entry-title"><a href="details.html">Artificial Intelligence (AI) </a></h3>
                            <div class="entry-meta">
                               <ul class="global-list">
                                  <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                  <li><i class="far fa-user"></i>By: Author</li>
                               </ul>
                            </div>
                            <p>Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new </p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="sg-pagination text-center mb-3">
                   <ul class="pagination justify-content-center mb-0">
                      <li><a class="page-numbers current" href="#">1 </a></li>
                      <li><a class="page-numbers" href="#">2 </a></li>
                      <li><a class="page-numbers" href="#">3 </a></li>
                      <li class="float-right"><a class="page-numbers" href="#"><i class="fas fa-chevron-right"></i></a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-lg-3 sa-sticky">
             <div class="sa-sidebar theiaStickySidebar">
                <div class="sa-widget">
                   <h3 class="widget-title">Popular posts </h3>
                   <ul class="global-list">
                      <li>
                         <div class="sa-post small-post post-style-1">
                            <div class="entry-content">
                               <h2 class="entry-title"><a href="details.html">Shots in border dispute - BBC News </a></h2>
                               <div class="entry-meta">
                                  <ul class="global-list">
                                     <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                     <li><i class="far fa-user"></i>By: Author</li>
                                  </ul>
                               </div>
                            </div>
                         </div>
                      </li>
                      <li>
                         <div class="sa-post small-post post-style-1">
                            <div class="entry-content">
                               <h2 class="entry-title"><a href="details.html">Why is the media __ afraid of Facebook? </a></h2>
                               <div class="entry-meta">
                                  <ul class="global-list">
                                     <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                     <li><i class="far fa-user"></i>By: Author</li>
                                  </ul>
                               </div>
                            </div>
                         </div>
                      </li>
                      <li>
                         <div class="sa-post small-post post-style-1">
                            <div class="entry-content">
                               <h2 class="entry-title"><a href="details.html">Deep Fryer Pieces Of __</a></h2>
                               <div class="entry-meta">
                                  <ul class="global-list">
                                     <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                     <li><i class="far fa-user"></i>By: Author</li>
                                  </ul>
                               </div>
                            </div>
                         </div>
                      </li>
                      <li>
                         <div class="sa-post small-post post-style-1">
                            <div class="entry-content">
                               <h2 class="entry-title"><a href="details.html">Morning yoga is very for maintaining </a></h2>
                               <div class="entry-meta">
                                  <ul class="global-list">
                                     <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                                     <li><i class="far fa-user"></i>By: Author</li>
                                  </ul>
                               </div>
                            </div>
                         </div>
                      </li>
                   </ul>
                </div>
                <div class="sa-widget">
                   <div class="sa-post featured-post">
                      <div class="entry-header">
                         <div class="entry-thumbnail">
                            <a href="details.html"><img class="img-fluid" src="images/img/poster7.jpg" alt="Image"></a>
                         </div>
                         <div class="category">
                            <ul class="global-list">
                               <li><a href="#">Latest Story </a></li>
                            </ul>
                         </div>
                      </div>
                      <div class="entry-content absolute">
                         <h2 class="entry-title"><a href="details.html">Elon Musk's Taj Mahal tweet prompts mother Maye to share anecdote from 1954..</a></h2>
                         <div class="entry-meta">
                            <ul class="global-list">
                               <li><i class="far fa-clock"></i><a href="#"> Feb 28, 2022 </a></li>
                               <li><i class="far fa-user"></i>By: Author</li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="sa-post featured-post">
                   <div class="entry-header">
                      <div class="entry-thumbnail">
                         <a href="#"><img src="images/img/poster4.jpg" alt="Image" class="img-fluid"></a>
                      </div>
                   </div>
                   <div class="entry-content absolute">
                      <div class="category">
                         <ul class="global-list">
                            <li><a href="#">NATA 2022 official brochure</a></li>
                         </ul>
                         <p>NEW DELHI: Council of Architecture (CoA) has released the NATA 2022 brochure in online mode on the official website – nata.in. </p>
                         <div class="btn__top"></div>
                         <a class="readcss__btn" href="#">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                      </div>
                   </div>
                </div>
                <div class="sa-widget">
                   <h3 class="widget-title">
                   Categories </h3>
                   <div class="tagcloud tagcloud-style-1">
                      <a href="#">Focus </a>
                      <a href="#">Editorial </a>
                      <a href="#">Top Story </a>
                      <a href="#">Feature </a>
                      <a href="#">Interview </a>
                      <a href="#">Business </a>
                      <a href="#">Technology </a>
                   </div>
                </div>
                <div class="sa-widget">
                   <h3 class="widget-title">Follow Us </h3>
                   <div class="sa-socail">
                      <ul class="global-list">
                         <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                         <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         <li><a href="#"><i class="fas fa-rss-square"></i></a></li>
                         <li><a href="#"></a></li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>